my_cats_dogs/
stab_data/vit_stabby_no_augm
Scripts/staby_small_dataset
.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
*.egg-info/
Orange/
edges_stab_data/
semantic_stab_data/
sobel_stab_data/
cropped_sobel_stab_data/